# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.pyc

# SQLite
*.db
*.sqlite3

# Virtual environments
venv/
.venv/
env/

# Flask instance
instance/

# Uploads
app/static/uploads/

# OS junk
.DS_Store
Thumbs.db